{% extends 'base/base_user.html' %}
{% load static %}
{% block content %}
     <div class="row mt-5">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    <p><b>Морской бой</b></p>
                </div>
                <div class="card-body">
                    <p>Описание игры:</p>
                    <p>{{ description }}</p>
                </div>
                <p> Размер доски: {{ board.size }}</p>

                <div class="card-body">
                <script>
                    int[][] arr = {{1, 2}, {3, 4}, {5, 6}};
                    System.out.println(Arrays.deepToString(arr));
                </script>
                </div>
            </div>
        </div>
     </div>
{% endblock %}

