{% extends 'base/base_user.html' %}
{% load static %}
{% block content %}
<!--
<script>
    $("td").on("mouseover", function(){
        $(this).addClass("cel-active");
    });
    $("td").on("mouseout", function(){
        $(this).removeClass("cel-active");
    });

    $("td").on("click", function(){
        alert(table)
    });
</script>

<script>

window.onload = function(){
const parser = new DOMParser();
const table = document.getElementById('id_table').innerHTML = parser.parseFromString('#id_table', 'text/html')
}
</script>-->
<!--
<script type="text/javascript" language="javascript">
	function call() {
	var msg   = $('#formx').serialize();
		$.ajax({
			// Метод передачи
			type: 'GET',
			 // Файл которому передаем запрос и получаем ответ
			url: '/field/',
			 // Кеширование
			cache: false,
			 // Верямя ожидания ответа, в мили секундах 1000 мс = 1 сек
			timeout:3000,
			data: msg,
			// Функция сработает при успешном получении данных
			success: function(data) {
				// Отображаем данные в форме
				$('#field').html(data);
			},
			// Функция срабатывает в период ожидания данных
			beforeSend: function(data) {
				$('#field').html('<p>Ожидание данных...</p>');
			},
			 // Тип данных
			dataType:"html",
			 // Функция сработает в случае ошибки
			error:  function(data){
				$('#field').html('<p>Возникла неизвестная ошибка. Пожалуйста, попробуйте чуть позже...</p>');
				}
			});
		}
		</script>-->
     <div class="row mt-5">
        <div class="col mt-3">
            <div class="card">
                {% if mega_errors %}
                    <ul>
                        {% for error in mega_errors %}
                            <li> {{ error }}</li>
                        {% endfor %}
                    </ul>
                    <div class="col-4">
                        <a href="/seabattle"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                    </div>
                    {% else %}
                <div class="card-header">
                    <p><b>Морской бой</b></p>
                </div>
                <div class="card-body">
                    <p><b>Описание игры:</b></p>
                    <p>{{ description }}</p>
                </div>

                <div class="card-body">
                    <p> Размерность игрового поля: {{ board.size }} x {{ board.size }}</p>
                    <p> Количество выстрелов: {{ access.shots }}</p>
                    <!--
                    <div id="field">
                        Здесь пока ничего нет
                    </div>
                    <input type="button" value="Нажать" onclick="call();">-->
                    <form method="post" action="/battle/{{ board.id }}/play">
                        {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-12">
                                    <label>Введите координаты выстрела:</label>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label>Координата по горизонтали</label>
                                    <br>
                                    <input type="number" max="{{ board.size }}" min="1" name="x">
                                    <br>
                                    <label>Координата по вертикали</label>
                                    <br>
                                    <input type="number" max="{{ board.size }}" min="1" name="y">
                                    <br>
                                </div>
                            </div>
                        {% if action %}
                            {{ action }}
                        {% endif %}
                        {% if win %}
                        <p> Ваш приз:</p>

                                {% for w in win %}
                                    <p> {{ w.name }}</p>
                                {% endfor %}
                        {% endif %}
                        {% if access.shots > 0 %}
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary" value="Выстрелить">
                        </div>
                        {% else %}
                        <p> Итоги игры:</p>
                        {% if results %}
                            <p>Вы выиграли:</p>
                            <ul>
                                {% for res in results %}
                                    <li>{{res.name}}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="col-4">
                                 <p>К сожалению вы ничего не выиграли. В другой раз точно повезёт</p>
                            </div>
                        {% endif %}
                        {% endif %}
                    </form>
                    {% if errors %}
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                <div class="col-4">
                    <br>
                        <a href="/seabattle"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                </div>
                </div>
                {% endif %}
                </div>
            </div>
     </div>
{% endblock %}

