{% extends 'base/base_user.html' %}
{% load static %}
{% block content %}
     <div class="row mt-5">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    <p><b>Морской бой</b></p>
                </div>
                <div class="card-body">
                    <p>Описание игры:</p>
                    <p>{{ description }}</p>
                </div>
                <p> Размер доски: {{ board.size }}</p>
                <p> Количество выстрелов: {{ access.shots }}</p>
                <div class="card-body">
                </div>
                    <form method="post" action="/battle/{{ board.id }}/play">
                        {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-12">
                                    <label>Введите координаты корабля</label>
                                </div>
                                <div class="col-4">
                                    <label>Введитe x</label>
                                    <br>
                                    <input type="number" max="{{ board.size }}" min="1" name="x">
                                    <br>
                                    <label>Введитe y</label>
                                    <br>
                                    <input type="number" max="{{ board.size }}" min="1" name="y">
                                    <br>
                                </div>

                            </div>

                        {% if access.shots > 0 %}
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary" value="Выстрелить">
                        </div>
                        {% else %}
                            <a href="/">Выйти</a>
                        {% endif %}
                    </form>
                    {% if action %}
                        {{ action }}
                    {% endif %}
                <br>
                <br>
                    {% if win %}
                        <ul>
                            <p> Вы выйграли:</p>
                            {% for w in win %}
                                <li> {{ w.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                <br>
                <br>
                <br>
                <br>
                    {% if errors %}
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                <br>
                <br>
                <a href="/">Выйти</a>

                </div>
                </div>
            </div>
{% endblock %}

