{% extends 'base/base_user.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
        {% if errors %}
                    <ul>
                        {% for error in errors %}
                            <li> {{ error }}</li>
                        {% endfor %}
                    </ul>
            {% else %}
            <p> Список ваших призов:</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col mt-3">
        <table class="table table-striped">
            <tr>
                <td><b>Название приза</b></td>
                <td><b>Описание приза</b></td>
                <td><b>Изображение</b></td>
            </tr>
            {% for gift in my_gifts %}
                <tr>
                    <td> {{ gift.name }}</td>
                    <td> {{ gift.description }}</td>
                    <td> <img src="{{ gift.Img.url }}" class="img" width="60" alt="MISSING IMG"> </td>
                </tr>
            {% endfor %}
        </table>

        </div>
    </div>
{% endif %}
{% endblock %}
