{% extends 'base/base_user.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <p> Все поля которые вам доступны:</p>
        </div>
        <div class="card-body">

        <table class="table table-striped">
            <tr>
                <td><b>Board id</b></td>
                <td><b>Board name</b></td>
                <td><b>Board size</b></td>
                <td><b> Sea Battle</b></td>
            </tr>
            {% for board in boards %}
                <tr>
                    <td> {{ board.id }}</td>
                    <td> {{ board.name }}</td>
                    <td> {{ board.size }}</td>
                    <td><a href='/battle/{{ board.id }}/play' style="color: black">Перейти</a></td>
                </tr>
            {% endfor %}
        </table>

        </div>
    </div>

{% endblock %}
