<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание приза</title>
</head>
    <body>
        <form method="post" action="/creategift/">
            {% csrf_token %}
            <label>Введите название приза</label>
            <input type="text" required maxlength="20" name="name">
            <label>Введите опизание приза</label>
            <input type="text" required maxlength="200" name="description">
            <input type="submit" value="Создать">
        </form>
    </body>
</html>
