<script>
    $("td").on("mouseover", function(){
        $(this).addClass("cel-active");
    });
    $("td").on("mouseout", function(){
        $(this).removeClass("cel-active");
    });
    $("td").on("click", function(){
        alert("ghhh")
    });
</script>
<table>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
    <tr>
        <td class="cel">0</td>
        <td class="cel">1</td>
        <td class="cel">2</td>
        <td class="cel">3</td>
        <td class="cel">4</td>
        <td class="cel">5</td>
        <td class="cel">6</td>
    </tr>
</table>
