
    <p>Меню: <a href="/">Главная</a> |
    <a href="/fields/"> Поля</a>|
    <a href="/settingsgift/"> Настройки призов</a>|
    <a href="/editfields/"> Редактор полей</a>|
    <a href="/users/"> пользователи</a>
    {% if request.user.is_authenticated %}
    (Пользователь: {{ request.user.username}})
    {% endif %}
</p>



    <p>Меню: <a href="/">Главная</a> |
    <a href="/seabattle/"> Морской бой</a>|
    <a href="/mygifts/"> Мои призы</a>
    {% if request.user.is_authenticated %}
    (Пользователь: {{ request.user.username}})
    {% endif %}
</p>
<hr>