{% extends 'base/base_admin.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            <div class="card">
                {% if errors %}
                    <p> Найдены ошибки:</p>
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    <input type=button class="btn btn-primary" value="Вернуться к редактированию" onClick="javascript:history.go(-1);">
                {% endif %}
                <div class="card-header">
                    <p><b> Список пользователей </b></p>
                </div>
                <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td><b>Id пользователя</b></td>
                        <td><b>Имя пользователя</b></td>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td> {{ user.id }}</td>
                            <td> {{ user.username }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
            <div class="card">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <p><b> количество выстрелов у пользователей </b></p>
                </div>
                <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td><b>Id пользователя</b></td>
                        <td><b>Количество выстрелов</b></td>
                        <td><b>Удалить пользователя </b></td>
                    </tr>
                    {% for shot in access %}
                        <tr>
                            <td> {{ shot.us }}</td>
                            <td> {{ shot.shots }}</td>
                            <td><a href="/delete/{{ shot.id }}/acc">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">

                     <form method="post" action='/add_shots/{{ board.id }}'>
                        {% csrf_token %}

                                <div class="col-8">
                                    <div class="col-4">
                                        <label>Добавить пользователя по id</label>
                                        <br>
                                        <input type="number" required name="user">

                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="col-4">
                                        <label>Начислить выстрелы</label>
                                        <br>
                                        <input type="number" required name="shots">
                                    </div>
                                </div>
                                <br>
                                <div class="col-4">
                                     <input type="submit" class="btn btn-primary"   value="Сохранить">
                                        <script>
                                            if ( window.history.replaceState ) {
                                                window.history.replaceState( null, null, window.location.href );
                                            }
                                        </script>
                                    {% if update %}
                                        <script>
                                            window.location.reload();
                                        </script>
                                    {% endif %}
                                </div><!--
                         <div class="col-4">
                            <br>
                             <button class="btn btn-primary" onClick="window.location.reload();">Обновить страницу</button>
                        </div>-->
                    </form>
                </div>
                <div class="card-body">


                    <div class="col-4">
                        <br>
                        <a href="/fields"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
