{% extends 'base/base_admin.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            <div class="card">
                <div class="card-header">
                    <p><b> Управление кораблями </b></p>
                </div>
                {% if errors %}
                        <p> Найдены ошибки:</p>
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                        <input type=button class="btn btn-primary" value="Вернуться к редактированию" onClick="javascript:history.go(-1);">
                        {% else %}
                <div class="card-header">
                    <br>
                    <p><b>Название поля: {{ board.name }}</b></p>
                    <br>
                    <p><b>Размерность игрового поля: {{ board.size }}</b></p>
                </div>
                <div class="card-body">
                    <div>
                        <p> Список кораблей на данном поле:</p>
                    </div>
                    <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td><b>Координата по горизонтали</b></td>
                        <td><b>Координата по вертикали</b></td>
                        <td><b>Id приза</b></td>
                        <td><b>Удалить</b></td>
                    </tr>
                    {% for ship in ships %}
                        <tr>
                            <td> {{ ship.x }}</td>
                            <td> {{ ship.y }}</td>
                            <td> {{ ship.gift_id }}</td>
                            <td><a href="/delete/{{ ship.id }}">Удалить</a></td>

                        </tr>
                    {% endfor %}
                </table>
                </div>
                    <div class="card-body">
                    <div>
                        <p> Список призов:</p>
                    </div>
                    <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <td><b>Id приза</b></td>
                        <td><b>Название приза</b></td>
                        <td><b>Описание приза</b></td>
                    </tr>
                    {% for gift in gifts %}
                        <tr>
                            <td> {{ gift.id }}</td>
                            <td> {{ gift.name }}</td>
                            <td> {{ gift.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>

                    <form method="post" action="/add_ship/{{ board.id }}">
                        {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-12">
                                    <label>Введите координаты корабля:</label>
                                </div>
                                <br>
                                <div class="col-8">
                                    <label>Координата по горизонтали</label>
                                    <br>
                                    <input type="number" max="{{ board.size }}" min="1" name="x">
                                    <br>
                                    <label>Координата по вертикали</label>
                                    <br>
                                    <input type="number" max="{{ board.size }}" min="1" name="y">
                                    <br>
                                    <label>Id приза</label>
                                    <br>
                                    <input type="number"  name="gift_id">
                                </div>
                            </div>
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary" value="Создать">
                            <script>
                                if ( window.history.replaceState ) {
                                    window.history.replaceState( null, null, window.location.href );
                                }
                            </script>
                            {% if update %}
                                    <script>
                                        window.location.reload();
                                    </script>
                            {% endif %}
                        </div>
                    </form>
                        <div class="col-4">
                            <br>
                            <a href="/fields"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                    </div>
                </div>
            </div>
                {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
