{% extends 'base/base_admin.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            <div class="card">
                <div class="card-header">
                    <p><b> Создание поля </b></p>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'createboard' %}">
                        {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-4">
                                    <label>Введите название игрового поля:</label>
                                    <br>
                                    <input type="text" required maxlength="20" name="name">
                                </div>
                                    <div class="col-4">
                                        <label>Введите размерность поля (от 4 до 12):</label>
                                        <br>
                                        <input type="number" required max="12" min="4" name="size">
                                    </div>
                                <div class="col-8">
                                    <div class="col-4">
                                        <br>
                                        <label>Опизание игры:</label>
                                        <br>
                                        <br>
                                        <p> {{ description }}</p>
                                    </div>
                                </div>
                                </div>
                                <br>
                                <div class="col-4">
                                    <a href="/fields"><input type="submit" class="btn btn-primary" value="Создать"> </a>
                                </div>
                    </form>
                    <br>
                    <a href="/fields"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
