{% extends 'base/base_admin.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <div class="card">
                {% if errors %}
                        <p> Найдены ошибки:</p>
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="card-header">
                    <p><b> Редактирование приза </b></p>
                </div>
                <div class="card-body">

                    <form method="post" action="/editgift/{{ current_gift.id }}">
                        {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-4">
                                    <label> Текущее название приза</label>
                                    <label>{{ current_gift.name }}</label>
                                </div>
                                <div class="col-4">
                                    <label>Новое название приза</label>
                                </div>
                                <div class="col-4">
                                    <input type="text" required maxlength="20" name="name">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label> Текущее описание приза</label>
                                    <label>{{ current_gift.description }}</label>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label>Новое опизание приза</label>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <input type="text" required maxlength="200" name="description">
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-primary" value="Сохранить">
                                </div>

                            </div>
                    </form>
                    <div class="col-4">
                        <a href="/settingsgift/"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
