{% extends 'base/base_admin.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            <div class="card">
                <div class="card-header">
                    <p><b> Редактирование поля </b></p>
                </div>
                {% if errors %}
                <p> Найдены ошибки:</p>
                    <ul>
                        {% for error in errors %}
                            <li> {{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card-body">
                    <form method="post" action='/editfields/{{ board.id }}/info'>
                        {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col-8">
                                    <div class="col-4">
                                        <label>Название поля:</label>
                                        <input value="{{ board.name }}" type="text" required maxlength="20" name="name">
                                    </div>
                                </div>

                                <div class="col-8">
                                    <div class="col-4">
                                        <label>Размерность поля (от 4 до 12):</label>
                                        <br>
                                        <input value="{{ board.size }}" type="number" required max="12" min="4" name="size">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="col-4">
                                        <label>Изображение:</label>
                                        <br>
                                        <input type="image" name="Img" src="images/gift_card.png">
                                    </div>
                                </div>

                                <div class="col-8">
                                    <br>
                                    <input type="submit" class="btn btn-primary" value="Сохранить">
                                </div>
                            </div>
                    </form>
                    <div class="col-8">
                        <div class="col-4">
                            <label>Описание игры:</label>
                            <br>
                            <br>
                            <label> {{ description }}</label>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                <div class="mb-3 row">
                    <div class="col-8">
                        <br>
                        <a href="/fields"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
