{% extends 'base/base_admin.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            <div class="card">

                {% if errors %}
                        <p> Найдены ошибки:</p>
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>

                {% endif %}
                <div class="card-header">
                    <p><b> Редактирование приза </b></p>
                </div>
                <div class="card-header">
                    <br>
                    <p><b>Текущее название приза: {{ current_gift.name }}</b></p>
                    <br>
                    <p><b>Текущее описание приза: {{ current_gift.description }}</b></p>
                    <br>
                    <p><b>Текущее изображение:</b></p>
                    <img src="{{ current_gift.Img.url }}" class="img" width="60" alt="MISSING IMG">
                </div>
                <div class="card-body">
                    <form method = "post" enctype="multipart/form-data">
                          <div class="panel">
                            {% csrf_token %}
                            {{ form.as_p }}
                          </div>
                          <input type="submit" class="btn btn-primary" value="Сохранить">
                        </form>
                    <div class="col-4">
                        <br>
                        <a href="/settingsgift/"><input type="submit" class="btn btn-primary" value="Назад"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
