{% extends 'base/base_admin.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            {% if errors %}
                <p> Найдены ошибки:</p>
                    <ul>
                        {% for error in errors %}
                            <li> {{ error }}</li>
                        {% endfor %}
                    </ul>
            <input type=button class="btn btn-primary" value="Вернуться к списку полей" onClick="javascript:history.go(-1);">
            {% else %}
        <div class="row">
                        <div class="col">
                            <p><b> Список игровых полей: </b></p>
                        </div>
                        <div class="col">
                            <a href="{% url 'createboard' %}"><input type="submit" class="btn btn-primary" value="Создать поле"> </a>
                        </div>
                    </div>

            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td><b>Id поля</b></td>
                        <td><b>Название поля</b></td>
                        <td><b>Размер поля</b></td>
                        <td><b>Редактировать поле</b></td>
                        <td><b>Удалить поле</b></td>
                        <td><b>Редактировать корабли</b></td>
                        <td><b>Редактировать выстрелы пользователей</b></td>
                    </tr>
                    {% for board in boards %}
                        <tr>
                            <td> {{ board.id }}</td>
                            <td> {{ board.name }}</td>
                            <td> {{ board.size }}</td>
                            <td><a href='/editfields/{{ board.id }}/info' style="color: black">Перейти</a></td>
                            <td><a href="/delete/{{ board.id }}/board">Удалить</a></td>
                            <td><a href="/add_ship/{{ board.id }}">Изменить</a></td>
                            <td><a href="/add_shots/{{ board.id }}"> Изменить</a> </td>

                        </tr>
                    {% endfor %}
                </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
