{% extends 'base/base_admin.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
        <div class="row">
                        <div class="col">
                            <p><b> Список игровых полей: </b></p>
                        </div>
                        <div class="col">
                            <a href="{% url 'createboard' %}"><input type="submit" class="btn btn-primary" value="Создать поле"> </a>
                        </div>
                    </div>

            <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <td><b>Board id</b></td>
                        <td><b>Board name</b></td>
                        <td><b>Board size</b></td>
                    </tr>
                    {% for board in boards %}
                        <tr>
                            <td> {{ board.id }}</td>
                            <td> {{ board.name }}</td>
                            <td> {{ board.size }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
        </div>
    </div>
{% endblock %}