{% extends 'base/base_admin.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <p><b> Список призов </b></p>
                        </div>
                        <div class="col">
                            <a href="/creategift/"> <input type="submit" class="btn btn-primary" value="Создать приз"></a>
                        </div>
                    </div>

                </div>

                <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <td><b>Id приза</b></td>
                        <td><b>Название приза</b></td>
                        <td><b>Описание приза</b></td>
                        <td><b>Редактировать приз</b></td>
                        <td><b>Изменить изображение</b></td>
                        <td><b>Удалить</b></td>
                        <td><b>Изображение</b></td>
                    </tr>
                    {% for gift in history %}
                        <tr>
                            <td> {{ gift.id }}</td>
                            <td> {{ gift.name }}</td>
                            <td> {{ gift.description }}</td>
                            <td><a href="/editgift/{{ gift.id }}">Перейти</a></td>
                            <td><a href="/addimage/{{gift.id}}">Изменить изображение</a></td>
                            <td><a href="/delete/{{ gift.id }}/gift">Удалить</a></td>
                            <td>
                                {% for im in image %}
                                    {% if im.gift_id == gift.id %}
                                        <img src="{{ im.Img.url }}" class="img" width="120" alt="MISSING IMG">

                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
