{% extends 'base/base_admin.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col mt-3">
            <br>
            <div class="card">

                {% if errors %}
                        <p> Найдены ошибки:</p>
                        <ul>
                            {% for error in errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    <input type=button class="btn btn-primary" value="Вернуться к списку призов" onClick="javascript:history.go(-1);">
                {% else %}
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <p><b> Список призов </b></p>
                        </div>
                        <div class="col">
                            <a href="/creategift/"> <input type="submit" class="btn btn-primary" value="Создать приз"></a>
                        </div>
                    </div>

                </div>

                <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <td><b>Id приза</b></td>
                        <td><b>Название приза</b></td>
                        <td><b>Описание приза</b></td>
                        <td><b>Редактировать приз</b></td>
                        <td><b>Изображение</b></td>
                        <td><b>Удалить</b></td>

                    </tr>
                    {% for gift in history %}
                        <tr>
                            <td> {{ gift.id }}</td>
                            <td> {{ gift.name }}</td>
                            <td> {{ gift.description }}</td>
                            <td><a href="/editgift/{{ gift.id }}">Перейти</a></td>
                            <td> <img src="{{ gift.Img.url }}" class="img" width="60" alt="MISSING IMG"> </td>
                            <td><a href="/delete/{{ gift.id }}/gift">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
